.MessageScreenHead{
    margin: 1px 4px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 1px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    height: 7%;
}