.NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    cursor:pointer;
 }
 
 .NavigationItem a{
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
 }
 
 .NavigationItem a:hover,
 .NavigationItem a:active,
 .NavigationItem a.active{
    background-color: rgb(107, 105, 100);
    border-bottom: 4px solid #40A4C8;
    color: white;
 }