.MessageScreen{
    text-align: left;
    width: 80%;
    height: 670px;
    float: left;
    background-color:white;
}

.FootRight{
    align-self: right;
}

textarea { 
    resize: none;
    width:100%;
    height:100%; 
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box;  
}

.Button {
    border: 1px solid lightblue;
    padding: 5px;
    background-color: lightskyblue;
    cursor: pointer;
  }

  .Button:hover {
    background-color: lightseagreen;
  }
