.MessageSent{
    width: 40%;
    margin-left: auto;
    border: 1px solid #eee;
    padding: 4px;
    text-align: left;
    background-color: rgb(55, 127, 209);
    border-radius: 20px;
}

.MessageReceived{
    width: 40%;
    margin-right: auto;
    border: 1px solid #eee;
    padding: 4px;
    text-align: left;
    background-color: rgb(76, 167, 64);
    border-radius: 20px;
}

.MessageAudit{
    width: 40%;
    margin-right: auto;
    border: 1px solid #eee;
    padding: 4px;
    text-align: left;
    background-color: rgb(119, 128, 131);
    border-radius: 20px;
}

.MessageInfo{
    color: white;
    font-size: 10px;
    margin: 0px 0px 0px 16px;
}

.MessageText{
    background-color: transparent;
    border-color: transparent;
    margin: 4px 0px 0px 0px;
    overflow: hidden;
    resize: none;
}