.Label {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

.Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding : 6px 10px;
    width: 500px;
    box-sizing: border-box;
}

.InputDiv {
    width: 100%;
    padding: 10px;
}

.ErrorMessage{
    color: red;
}
