.Button{
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 20px;
    text-align-last: center;
    background-color: rgb(20, 100, 206);
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 75px;
    margin: 0 3px;
}

.Button:hover {
    background-color: rgb(103, 149, 209);
}

.Button:disabled {
    background-color: rgb(120, 142, 170);
    color: #ccc;
    cursor: not-allowed;
}