.Foot{
    margin: 1px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 1px;
    background-color:white;
    
}

.Foot textarea{
    border-radius: 10px;
    padding: 5px;
}

.FootButtonArea{
    justify-content: space-between;

}