.MessageSearchScreenHeader {
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 0 0 10px 10px;
    margin: 2px;
}

.MainArea{
  width: 45%
}

.InputArea {
  text-align: left;
}

.FiltroInput{
    margin: 5px 3px;
    width: 100%
}

.ButtonArea {
  text-align: right;
  margin: 3px 5px;
}