.User{
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 4px;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    cursor: pointer
}

.UserSelected{
    margin: 10px;
    box-shadow: 0 2px 3px #ccc;
    padding: 4px;
    text-align: left;
    background-color:rgb(102, 157, 230);
    border-radius: 15px;
    cursor: pointer
}