.Pagination{
    height: 35px;
    background-color: white;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px 10px 0 0;
}

.PagButton{
  border-radius: 40px;
  border: none;
  padding: 5px;
  text-align-last: center;
  background-color: rgb(20, 100, 206);
  color: white;
  cursor: pointer;
  width: 50px;
  margin: 5px;
}

.PagButton:hover {
  background-color: rgb(103, 149, 209);
}

.PagButton:disabled {
    background-color: rgb(120, 142, 170);
    color: #ccc;
    cursor: not-allowed;
}